[bumpversion]
current_version = 0.2.15
commit = True
tag = True

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:file:Dockerfile]
search = ghcr.io/computationalphysiology/mps_motion:v{current_version}
replace = ghcr.io/computationalphysiology/mps_motion:v{new_version}

[bumpversion:file:docs/install.md]
search = ghcr.io/computationalphysiology/mps_motion:v{current_version}
replace = ghcr.io/computationalphysiology/mps_motion:v{new_version}
